@page
@model ATMDemo.Pages.ChangePinModel
@{
    ViewData["Title"] = "ChangePin";
}

<div class="container">
    <div class="row col-xs-12">
        <div class="panel panel-info ">
            <!-- Place <h1></h1> below -->
            <div class="panel-heading">
                <div class="panel-title text-uppercase text-center">Change Pin and Mobile Number</div>
                <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">need iformation?</a></div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <!-- Place <h1></h1> below -->
                    <div class="alert alert-success text-center" role="alert">
                        @*<a href="#" class="alert-link text-center"><i class="glyphicon glyphicon-credit-card"></i> @Model.transactionDTOs.LastOrDefault().Card.CardNumber </a>*@
                        <a href="#" class="alert-link text-center"><i class="glyphicon glyphicon-credit-card"></i> ####-####-#####-435 </a>
                    </div>
                    <!-- Change Pin -->
                    <div class="col-md-5 ">
                        <div class="panel panel-warning">
                            <!-- Default panel contents -->
                            <div class="panel-heading text-center">Change Card Pin</div>
                            <form style="padding:1rem" method="post">
                                <div class="form-group">
                                    <label for="oldPin">Old Pin:</label>
                                    <input type="password" class="form-control" id="oldPin" placeholder="Enter Old Pin" name="oldPin">
                                </div>
                                <div class="form-group">
                                    <label for="newPin">New Pin:</label>
                                    <input type="text" class="form-control" id="newPin" placeholder="Enter New Pin" name="newPin">
                                </div>
                                <div class="form-group">
                                    <label for="rnewPin">Confirm New Pin:</label>
                                    <input type="text" class="form-control" id="rnewPin" placeholder="Enter New Pin" name="rnewPin">
                                </div>
                                <button type="submit" class="btn btn-lg btn-primary btn-padding">
                                    <span class="glyphicon glyphicon-ok"></span> Submit
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="panel panel-info">
                            <!-- Default panel contents -->
                            <div class="panel-heading text-center">Change Mobile Number</div>
                            <form style="padding:1rem">
                                <div class="form-group">
                                    <label for="oldMbnum">Old Mobile Number:</label>
                                    <input type="text" class="form-control" id="oldmb" placeholder="Enter Old Mobile Number" name="oldMbnum">
                                </div>
                                <div class="form-group">
                                    <label for="newMbnum">New Mobile Number:</label>
                                    <input type="text" class="form-control" id="newMbnum" placeholder="Enter New Mobile Number" name="newMbnum">
                                </div>
                                <div class="form-group">
                                    <label for="rnewMbnum">Confirm New Mobile Number:</label>
                                    <input type="text" class="form-control" id="rnewMbnum" placeholder="Enter New Mobile Number" name="rnewMbnum">
                                </div>
                                <button type="submit" class="btn btn-lg btn-primary btn-padding">
                                    <span class="glyphicon glyphicon-ok"></span> Submit
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-2 text-center">
                        <!-- Button -->
                        <div id="sidePad">
                            <a id="btn-login" asp-page="/Dashboard" class="btn btn-lg btn-warning btn-padding">
                                <span class="glyphicon glyphicon-chevron-left"></span> Back
                            </a>
                            <a id="btn-login" asp-page="/Logout" class="btn btn-lg btn-success btn-padding">
                                <span class="glyphicon glyphicon-log-out"></span> Logout
                            </a>
                        </div>
                    </div>

                </div> <!-- // END OPTIONS-->


            </div><!--  // END column-->

        </div><!-- // END row-->

    </div> <!-- // END OPTIONS-->
</div>