@page
@model DashboardModel
@{
    ViewData["Title"] = "About";
}
<div class="container">
    <div class="row col-xs-12">
        <div class="panel panel-info ">
            <!-- Place <h1></h1> below -->
            <div class="panel-heading">
                <div class="panel-title">Options</div>
                <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">need iformation?</a></div>
            </div>
            <div class="row" style="padding:10px">
                <div class="col-xs-3">
                    <div class="tile">
                        <a asp-page="/Withdraw" title="Make an easy cash withdraw!">
                            <img src="~/images/quick_cash.png" alt="Quick Cash" class="tile-image big-illustration">
                            <h4 class="tile-title"><b>Quick Cash</b></h4>
                        </a>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="tile">
                        <a asp-page="/Transactions"title="View available transacions and more..">
                            <img src="~/images/icons/png/Clipboard.png" alt="Accounts" class="tile-image" />
                            <h4 class="tile-title"><b>Transactions</b></h4>
                        </a>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="tile">
                        <a asp-page="/Deposit" title="Make a easy deposite">
                            <img src="~/images/deposit_vault.png" alt="Deposits" class="tile-image">
                            <h4 class="tile-title"><b>Make a Deposite</b></h4>
                        </a>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="tile">
                        <a asp-page="/ChangePin" title="Edit your Card Pin">
                            <img src="~/images/accounts_checklist.png" alt="Accounts" class="tile-image">
                            <h4 class="tile-title"><b>Change Pin</b></h4>
                        </a>
                    </div>
                </div>
                <!-- Button -->
                <div class="row col-xs-12" style="margin:10px">
                    <!-- Button -->
                    <div class="col-sm-12 controls">
                        <a id="btn-login" asp-page="/Logout" class="btn btn-success btn-padding">
                            <span class="glyphicon glyphicon-log-out"></span> Logout
                        </a>
                    </div>
                </div>
            </div> <!-- // END OPTIONS-->
        </div><!--  // END panel column-->
    </div><!-- // END row-->
</div> <!-- /container -->