@page
@model ATMDemo.Pages.DepositModel
@{
    ViewData["Title"] = "Deposit";
}
<div class="container">
    <div class="row col-md-12 text-center">
        @*<div class=" col-md-12 col-md-offset-3 col-sm-8 col-sm-offset-2">*@
        <div class="panel panel-info ">
            <!-- Place <h1></h1> below -->
            <div class="panel-heading">
                <div class="panel-title text-uppercase text-center">Deposit Funds</div>
                <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">need information?</a></div>
            </div>
            <div class="panel">
                <div class="alert alert-success text-center" role="alert">
                    <a class="alert-link text-center"><i class="glyphicon glyphicon-credit-card"></i>@Model.HttpContext.User.Claims.FirstOrDefault().Value</a>
                </div>
                <div class="tile">
                    <h4 class="text-uppercase balance">
                        YOUR CURRENT BALANCE IS :
                        <span class="glyphicon glyphicon-usd"></span>@Model.Balance
                    </h4>
                </div>
                <div class="row">
                    <div class="col-md-1 text-center"></div>
                    <div class="col-md-8">
                        <div class="row">
                            <!-- CALCULATOR -->
                            <div id="calcMain">
                                <div id="calculator">
                                    <!-- <h4 class="row">Calculator</h4> -->
                                    <form align="center" method="post">
                                        <table>
                                            <!-- <h3 class="row" align="center"><b>Calculator</b></h3> -->
                                            <tr>
                                                <td colspan="8" align="center">
                                                    <input id="demo" align="right" name="value" />
                                                    <!--  <input type="text" name="display" id=""> -->
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <button type="button" id="one" value="1" onclick="AddDigit('1')" class="btn-lg btn-success">1</button>
                                                </td>
                                                <td>
                                                    <button type="button" id="two" value="2" onclick="AddDigit('2')" class="btn-lg btn-success">2</button>
                                                </td>
                                                <td>
                                                    <input type="button" id="three" value="3" onclick="AddDigit('3')" class="btn-lg btn-success">
                                                </td>
                                                <td>
                                                    <input type="button" id="four" value="4" onclick="AddDigit('4')" class="btn-lg btn-success">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input type="button" id="five" value="5" onclick="AddDigit('5')" class="btn-lg btn-success">
                                                </td>
                                                <td>
                                                    <input type="button" id="six" value="6" onclick="AddDigit('6')" class="btn-lg btn-success">
                                                </td>
                                                <td>
                                                    <input type="button" id="seven" value="7" onclick="AddDigit('7')" class="btn-lg btn-success">
                                                </td>
                                                <td>
                                                    <input type="button" id="eight" value="8" onclick="AddDigit('8')" class="btn-lg btn-success">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input type="button" id="nine" value="9" onclick="AddDigit('9')" class="btn-lg btn-success">
                                                </td>
                                                <td>
                                                    <input type="button" id="zero" value="0" onclick="AddDigit('0')" class="">
                                                </td>
                                                <td colspan="2">
                                                    <a id="btnDelete" href="#" class="btn btn-lg btn-default text-uppercase">
                                                        <span class="glyphicon glyphicon-arrow-left"></span> Clear
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="4">
                                                    <button id="btnConfirm" href="#" class="btn btn-lg btn-primary text-uppercase">
                                                        <span class="glyphicon glyphicon-ok-sign"></span> Deposit
                                                    </button>
                                                </td>

                                            </tr>
                                        </table>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 text-center">
                        <!-- Button -->
                        <div id="sidePad">
                            <a id="btn-login" asp-page="/Dashboard" class="btn btn-lg btn-warning btn-padding">
                                <span class="glyphicon glyphicon-chevron-left"></span> Back
                            </a>
                            <a id="btn-login" asp-page="/Logout" class="btn btn-lg btn-success btn-padding">
                                <span class="glyphicon glyphicon-log-out"></span> Logout
                            </a>
                        </div>
                    </div>
                </div> <!-- // END OPTIONS-->
            </div><!--  // END column-->
            <div class="alert alert-danger text-center" role="alert">
                <h6 class="alert-link text-center">
                    <i class="glyphicon glyphicon glyphicon-info-sign"></i>
                    @Model.Message
                </h6>
                <h5 class="alert-link text-center"><i class="glyphicon glyphicon glyphicon-info-sign"></i> Or input an desired amount, Must be lower than $1000</h5>
            </div>
        </div><!-- // END row-->
    </div><!--  // END panel column-->
</div> <!-- /container -->
