@page
@model WithdrawModel
@{
    ViewData["Title"] = "Withdraw Funds";
}


<div class="container">
    <div class="row col-xs-8 col-xs-offset-2">
        <div class="panel panel-info ">
            <!-- Place <h1></h1> below -->
            <div class="panel-heading">
                <div class="panel-title text-uppercase text-center">@ViewData["Title"]</div>
                <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">need iformation?</a></div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <!-- Place <h1></h1> below -->
                    <div class="alert alert-success text-center" role="alert">
                        <a href="#" class="alert-link text-center"><i class="glyphicon glyphicon-credit-card"></i> @Model.HttpContext.User.Claims.FirstOrDefault().Value </a>
                    </div>
                    <div class="col-xs-12">
                        <div class="tile">
                            <h4 class="text-uppercase balance">
                                YOUR CURRENT BALANCE IS :
                                <span class="glyphicon glyphicon-usd"></span>@Model.Balance
                            </h4>
                        </div>
                    </div>
                    @if (Model.Message != null)
                    {
                        <div class="alert alert-info text-center" role="alert" id="alertMsg">
                            <h6 class="alert-link text-center">
                                <i class="glyphicon glyphicon glyphicon-info-sign"></i>
                                @Model.Message
                            </h6>
                        </div>
                    }
                    <div class="row">
                        <div class="col-md-3 text-center">
                            <div id="sidePad">
                                <a class="btn btn-lg btn-primary btn-padding" href="#" onclick="AddBigDigit('20')">
                                    <i class="fa fa-usd fa-1x pull-left"></i>20.00
                                </a>
                                <a class="btn btn-lg btn-primary btn-padding" href="#" onclick="AddBigDigit('50')">
                                    <i class="fa fa-usd fa-1x pull-left"></i>50.00
                                </a>
                                <a class="btn btn-lg btn-primary btn-padding" href="#" onclick="AddBigDigit('100')">
                                    <i class="fa fa-usd fa-1x pull-left"></i>100.00
                                </a>
                                <a class="btn btn-lg btn-primary btn-padding" href="#" onclick="AddBigDigit('500')">
                                    <i class="fa fa-usd fa-1x pull-left"></i>500.00
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div id="">
                                <form method="post">
                                    <!-- Number Keys -->
                                    <!-- TABLE -->
                                    <div id="calculator">
                                        <table class="table table-responsive">
                                            <tr>
                                                <td colspan="8" align="center">
                                                    <input id="demo" align="right" name="value" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><a id="one" href="#" onclick="AddDigit('1')" class="btn btn-block btn-lg btn-info">1</a></td>
                                                <td><a id="two" href="#" onclick="AddDigit('2')" class="btn btn-block btn-lg btn-info">2</a></td>
                                                <td><a id="three" href="#" onclick="AddDigit('3')" class="btn btn-block btn-lg btn-info">3</a></td>
                                                <td><a id="four" href="#" onclick="AddDigit('4')" class="btn btn-block btn-lg btn-info">4</a></td>
                                            </tr>
                                            <tr>
                                                <td><a id="five" href="#" onclick="AddDigit('5')" class="btn btn-block btn-lg btn-info">5</a></td>
                                                <td><a id="six" href="#" onclick="AddDigit('6')" class="btn btn-block btn-lg btn-info">6</a></td>
                                                <td><a id="seven" href="#" onclick="AddDigit('7')" class="btn btn-block btn-lg btn-info">7</a></td>
                                                <td><a id="eight" href="#" onclick="AddDigit('8')" class="btn btn-block btn-lg btn-info">8</a></td>
                                            </tr>
                                            <tr>
                                                <td><a id="nine" href="#" onclick="AddDigit('9')" class="btn btn-block btn-lg btn-info">9</a></td>
                                                <td><a id="zero" href="#" onclick="AddDigit('0')" class="btn btn-block btn-lg btn-info">0</a></td>
                                                <td colspan="2">
                                                    <a id="clear" href="#" onclick="Clear()" class="btn btn-lg btn-default text-uppercase">
                                                        <span class="glyphicon glyphicon-arrow-left"></span> Clear
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="4">
                                                    <button class="btn btn-lg btn-primary text-uppercase">
                                                        <span class="glyphicon glyphicon-ok-sign"></span>
                                                        With Draw
                                                    </button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div><!-- // Pin Pad -->
                                </form>
                            </div>
                        </div>
                        <div class="col-md-3 text-center">
                            <!-- Button -->
                            <div id="sidePad">
                                <a id="btn-login" asp-page="/Dashboard" class="btn btn-lg btn-warning btn-padding">
                                    <span class="glyphicon glyphicon-chevron-left"></span> Back
                                </a>
                                <a id="btn-login" asp-page="/Logout" class="btn btn-lg btn-success btn-padding">
                                    <span class="glyphicon glyphicon-log-out"></span> Logout
                                </a>
                            </div>
                        </div>
                    </div> <!-- // END OPTIONS-->
                    <div class="alert alert-danger text-center" role="alert">
                        <h6 class="alert-link text-center">
                            <i class="glyphicon glyphicon glyphicon-info-sign"></i>
                            Click a button to get that amount of cash.
                        </h6>
                        <h5 class="alert-link text-center"><i class="glyphicon glyphicon glyphicon-info-sign"></i> Or input an desired amount, Must be lower than $1000</h5>
                    </div>
                </div><!--  // END column-->
            </div><!-- // END row-->
        </div> <!-- // END OPTIONS-->
    </div><!--  // END panel column-->
</div> <!-- /container -->