.demo-headline {
    padding: 73px 0 110px;
    text-align: center;
}

.demo-logo {
    font: 900 90px/100px "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: -2px;
    margin: 10px 0;
}
    .demo-logo small {
        color: rgba(52, 73, 94, 0.3);
        display: block;
        font-size: 22px;
        font-weight: 700;
        letter-spacing: 0;
        padding-top: 5px;
    }
/*.panel{
    padding-left:10px;
    padding-right:10px;
}*/
.advertise {
    border: solid .2rem #34495E;
    padding: 1rem;
    margin-bottom: 2rem;
    text-align: center;
}

#ad-highlight {
    box-shadow: 0px 0px 8px #7F8C8D;
}

.adImage {
    display: block;
}

    .adImage img {
        width: 6rem;
    }

.adText {
    font-size: 2rem;
    font-weight: bold;
    display: block;
}

#screenView {
    border: solid .5rem #BDC3C7;
    border-radius: 1rem;
    box-shadow: -.2rem .3rem 0rem #95A5A6, .2rem .3rem 0rem #95A5A6;
}
#sidePad { 
  
}
    #sidePad a {
        font-size: 2rem;
        margin-top:1rem;
        margin-bottom:1rem;
    }

#pinPad {
    }

    #pinPad td {
        padding: 1rem;
    }

    #pinPad a {
        font-size: 2rem;
        padding: 1rem 1rem;
    }

#confirmPin {
    display: block;
    float: left;
    margin-left: 1rem;
    margin-top: 1rem;
}

    #confirmPin a {
        text-align: center;
        font-size: 1rem;
        padding: 3rem 3rem;
    }

#cancelTransaction {
    display: block;
    float: right;
    margin-right: 1rem;
    margin-top: 5.5em;
}

.btn-padding {
    padding: 0.5rem;
    font-size: 1.5rem;
    width: 7em;
}

.sideBlock {
    border: solid 1px #CCC;
    background-color: #eff0f2;
    border-radius: 6px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    text-align: center;
}

.tile {
    border: solid 1px #CCC;
    background-color: #eff0f2;
    border-radius: 6px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    text-align: center;
}

    .tile h6 {
        font-size: 2rem;
        padding: 0rem 0;
    }

    .tile > label {
        display: block;
    }
    .tile-image {
        height: 100px;
        margin: 20px 0 20px;
        vertical-align: bottom;
    }

.accountsListItem > span {
    display: inline-block;
    width: 20em;
}

span.icon {
    display: inline-block;
    width: 2rem;
    float: right;
    color: #BDC3C7;
}

balance {
    text-align: center;
    padding: 0 2em;
}

    balance span {
        color: #95A5A6;
        display: inline-block;
        width: 6em;
    }

.modalList {
    margin-bottom: 1em;
}

    .modalList > p {
        font-size: 2rem;
        text-align: left;
        margin-bottom: 0;
        padding: 1rem 0;
    }

        .modalList > p > span {
            display: inline-block;
            width: 18em
        }

button.routingButton {
    margin-top: 1rem;
    padding: 1em 0;
    font-size: 2rem;
    width: 100%;
}

/*#depositAmount {
    width: 100%;
    height: 54px;
    margin: 0px 0px 0px 5px;
    padding-right: 9px;
    background: #bbbaba;
    text-align: right;
    border-radius: 2px;
    border: 1px solid #6B6B6B;
    font-size: 26px;
    font: "Trebuchet MS", Arial, Helvetica, sans-serif;
    -moz-box-shadow: inset 0 0 10px #333, inset 0 1px 1px #0A0B0D, 0px 1px #E6E6E6;
    -webkit-box-shadow: inset 0 0 10px #333, inset 0 1px 1px #0A0B0D, 0px 1px #E6E6E6;
    box-shadow: inset 0 0 10px #333, inset 0 1px 1px #0A0B0D, 0px 1px #E6E6E6;
}*/
